@model IEnumerable<Pismovoditel.Models.UserModel>

@{
    ViewBag.Title = "Список пользователей";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список пользователей</h2>

<p>
    @Html.ActionLink("Зарегистрировать нового пользователя", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsWorkspaceAdmin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsWorkspaceAdmin)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.UserId })
        </td>
    </tr>
}

</table>
